.heading h1 {
    margin-top: 160px;
    color: #d80e0eee;
    font-size: 300%;
    font-size: 100px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    text-shadow: 0 2px 4.8px rgba(44, 3, 5, 0.562);
    font-family: "Agency FB";
    padding: 13px 13px;
    border-radius: 3px;
    transition: all .7s ease-in-out;
}